Mantenimiento_WCF_MVC/Connected Services/ProxyMecanicos/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Mecanico" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_Mant" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMecanico_ListarMecanicoFechas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMecanicoFechas" />
  </wsdl:message>
  <wsdl:message name="IMecanico_ListarMecanicoFechas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMecanicoFechasResponse" />
  </wsdl:message>
  <wsdl:message name="IMecanico_ListarMecanico_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMecanico" />
  </wsdl:message>
  <wsdl:message name="IMecanico_ListarMecanico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMecanicoResponse" />
  </wsdl:message>
  <wsdl:message name="IMecanico_InsertarMecanico_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarMecanico" />
  </wsdl:message>
  <wsdl:message name="IMecanico_InsertarMecanico_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarMecanicoResponse" />
  </wsdl:message>
  <wsdl:message name="IMecanico_ActualizarMecanico_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarMecanico" />
  </wsdl:message>
  <wsdl:message name="IMecanico_ActualizarMecanico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarMecanicoResponse" />
  </wsdl:message>
  <wsdl:message name="IMecanico_EliminarMecanico_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMecanico" />
  </wsdl:message>
  <wsdl:message name="IMecanico_EliminarMecanico_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMecanicoResponse" />
  </wsdl:message>
  <wsdl:message name="IMecanico_ConsultarMecanico_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarMecanico" />
  </wsdl:message>
  <wsdl:message name="IMecanico_ConsultarMecanico_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarMecanicoResponse" />
  </wsdl:message>
  <wsdl:portType name="IMecanico">
    <wsdl:operation name="ListarMecanicoFechas">
      <wsdl:input wsaw:Action="http://tempuri.org/IMecanico/ListarMecanicoFechas" message="tns:IMecanico_ListarMecanicoFechas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMecanico/ListarMecanicoFechasResponse" message="tns:IMecanico_ListarMecanicoFechas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarMecanico">
      <wsdl:input wsaw:Action="http://tempuri.org/IMecanico/ListarMecanico" message="tns:IMecanico_ListarMecanico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMecanico/ListarMecanicoResponse" message="tns:IMecanico_ListarMecanico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarMecanico">
      <wsdl:input wsaw:Action="http://tempuri.org/IMecanico/InsertarMecanico" message="tns:IMecanico_InsertarMecanico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMecanico/InsertarMecanicoResponse" message="tns:IMecanico_InsertarMecanico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarMecanico">
      <wsdl:input wsaw:Action="http://tempuri.org/IMecanico/ActualizarMecanico" message="tns:IMecanico_ActualizarMecanico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMecanico/ActualizarMecanicoResponse" message="tns:IMecanico_ActualizarMecanico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarMecanico">
      <wsdl:input wsaw:Action="http://tempuri.org/IMecanico/EliminarMecanico" message="tns:IMecanico_EliminarMecanico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMecanico/EliminarMecanicoResponse" message="tns:IMecanico_EliminarMecanico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarMecanico">
      <wsdl:input wsaw:Action="http://tempuri.org/IMecanico/ConsultarMecanico" message="tns:IMecanico_ConsultarMecanico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMecanico/ConsultarMecanicoResponse" message="tns:IMecanico_ConsultarMecanico_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMecanico" type="tns:IMecanico">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarMecanicoFechas">
      <soap:operation soapAction="http://tempuri.org/IMecanico/ListarMecanicoFechas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarMecanico">
      <soap:operation soapAction="http://tempuri.org/IMecanico/ListarMecanico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarMecanico">
      <soap:operation soapAction="http://tempuri.org/IMecanico/InsertarMecanico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarMecanico">
      <soap:operation soapAction="http://tempuri.org/IMecanico/ActualizarMecanico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarMecanico">
      <soap:operation soapAction="http://tempuri.org/IMecanico/EliminarMecanico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarMecanico">
      <soap:operation soapAction="http://tempuri.org/IMecanico/ConsultarMecanico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Mecanico">
    <wsdl:port name="BasicHttpBinding_IMecanico" binding="tns:BasicHttpBinding_IMecanico">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_Mant/Mecanico/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>