Mantenimiento_WCF_MVC/Connected Services/ProxyEstadistica/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Mant" />
  <xs:element name="RankingClientesAño">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="año" type="xs:short" />
        <xs:element minOccurs="0" name="top" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RankingClientesAñoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Mant" minOccurs="0" name="RankingClientesAñoResult" nillable="true" type="q1:ArrayOfClienteEstadistica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RankingMecanicoMantAño">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="año" type="xs:short" />
        <xs:element minOccurs="0" name="top" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RankingMecanicoMantAñoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Mant" minOccurs="0" name="RankingMecanicoMantAñoResult" nillable="true" type="q2:ArrayOfMecanicoEstadistica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RankingVehiculoMantAño">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="año" type="xs:short" />
        <xs:element minOccurs="0" name="top" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RankingVehiculoMantAñoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Mant" minOccurs="0" name="RankingVehiculoMantAñoResult" nillable="true" type="q3:ArrayOfVehiculoEstadistica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>