Mantenimiento_WCF_MVC/Connected Services/ProxyEstadistica/WCF_Mant.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Mant" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Mant" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClienteEstadistica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteEstadistica" nillable="true" type="tns:ClienteEstadistica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteEstadistica" nillable="true" type="tns:ArrayOfClienteEstadistica" />
  <xs:complexType name="ClienteEstadistica">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalMantenimientos" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteEstadistica" nillable="true" type="tns:ClienteEstadistica" />
  <xs:complexType name="ArrayOfMecanicoEstadistica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MecanicoEstadistica" nillable="true" type="tns:MecanicoEstadistica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMecanicoEstadistica" nillable="true" type="tns:ArrayOfMecanicoEstadistica" />
  <xs:complexType name="MecanicoEstadistica">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalMantenimientos" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MecanicoEstadistica" nillable="true" type="tns:MecanicoEstadistica" />
  <xs:complexType name="ArrayOfVehiculoEstadistica">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehiculoEstadistica" nillable="true" type="tns:VehiculoEstadistica" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehiculoEstadistica" nillable="true" type="tns:ArrayOfVehiculoEstadistica" />
  <xs:complexType name="VehiculoEstadistica">
    <xs:sequence>
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalMantenimientos" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehiculoEstadistica" nillable="true" type="tns:VehiculoEstadistica" />
</xs:schema>