Mantenimiento_WCF_MVC/Connected Services/ProxyVehiculos/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Mant" />
  <xs:element name="ListarVehiculosFechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strVehiculo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecfin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVehiculosFechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Mant" minOccurs="0" name="ListarVehiculosFechasResult" nillable="true" type="q1:ArrayOfVehiculoDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarVehiculos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strVehiculo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarVehiculosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Mant" minOccurs="0" name="ConsultarVehiculosResult" nillable="true" type="q2:VehiculoDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>