Mantenimiento_WCF_MVC/Connected Services/ProxyVehiculos/WCF_Mant.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Mant" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Mant" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVehiculoDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehiculoDC" nillable="true" type="tns:VehiculoDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehiculoDC" nillable="true" type="tns:ArrayOfVehiculoDC" />
  <xs:complexType name="VehiculoDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ape_cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ape_mec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_Mant_Fin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fec_Mant_Inic" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nom_cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom_mec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoMantenimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoTransmision" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoUnidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo_Trans" type="xs:float" />
      <xs:element minOccurs="0" name="Tipo_Unidad" type="xs:float" />
      <xs:element minOccurs="0" name="idMarca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idMecanico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idVehiculo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_mantenimiento" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehiculoDC" nillable="true" type="tns:VehiculoDC" />
</xs:schema>